      {% extends "layout.html" %}

      {% block body %}
      
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static',filename='assets/img/5513840.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">You can manage your posts here</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                  <table class="table">
  <thead>
   ADD NEW POST FROM HERE
    <td><a href="/edit/0"> <button type="submit" class="btn btn-primary" >NEW POST  </a></button></td>
    <td><a href="/logout"> <button type="submit" class="btn btn-primary" >LOG OUT  </a></button></td>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{post.sno}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date}}</td>
      <td><a href="/edit/{{post.sno}}">  <button type="submit" class="btn btn-primary"> Edit</button> </a></td>
     <td><a href="/delete/{{post.sno}}"> <button type="submit" class="btn btn-primary" >Delete</button></a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
                    <!-- Pager-->
                     <hr> </div>
                     <div class="d-flex justify-content-left mb-4"><a class="btn btn-primary text-uppercase" href="{{prev}}">Older Posts →</a></div>
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{next}}">New Posts →</a></div>
                </div>
            </div>
        </div>
        {% endblock %}